body{
  background-image: url("https://img.freepik.com/free-photo/beautiful-view-tranquil-desert-clear-sky-captured-morocco_181624-8496.jpg?w=996&t=st=1720282402~exp=1720283002~hmac=6c38a0e40ae409b45765d19619410bcf6523dee010d688482d3a5003ab6eabab");
  background-size: cover;
}

h3{
  color: whitesmoke;
}